@charset "utf-8";
/* ===================================================
re Base CSS
====================================================== */
/* ---------------------------------------------------
	Header & G-nav
------------------------------------------------------ */
@media screen and (max-width: 1000px) {
	#header{ padding: 15px 1%; width: 98%;}
	#gnav { width: 100%;}
}
@media screen and (max-width: 768px) {
	#header h1{ text-align: center;}
	#header #head_logo{ width: 100%; float: none; text-align: center;}
	#header #head_nav{ text-align: center;}
	#header #head_nav:after{ clear: both; content: "."; display: block; height: 0; font-size: 0; visibility: hidden;}
	#header #head_nav li{ width: 48%; float: left; margin: 0; padding: 0 1%;}

	#gnav li{ width: 33.3%; float: left;}
	#gnav li#gn_home{ display: block;}
}
@media screen and (max-width: 640px) {
	#gnav li{ width: 50%; float: left;}
}


/* ---------------------------------------------------
	Footer
------------------------------------------------------ */
@media screen and (max-width: 1000px) {
	#backtop a{ padding: 0 1%; width: 98%;}
	#footer   { padding: 25px 1%; width: 98%;}
}
@media screen and (max-width: 768px) {
	#footer address{ margin: 0 0 10px; width: 100%; float: none; text-align: center;}
	#footer address img{ display: inline-block; margin: 0 20px 0 0;}
	#footer address span,
	#footer address .tel-link{ display: inline-block; margin: 0 10px 0 0; line-height: 30px; vertical-align: top;}
	#fnav{ clear: both; text-align: center;}
}
@media screen and (max-width: 640px) {
	#footer address img{ display: block; margin: 0 auto 10px;}
	#footer address span,
	#footer address .tel-link{ line-height: 1.6;}
}
