@charset "utf-8";
/* ===================================================
	404 CSS
====================================================== */
#error section{ margin: 0 auto 50px; width: 60%; text-align: center;}
#error section h3{ margin: 0 0 25px; font-size: 20px;}
#error section p{ margin: 0 0 250px; /* サンプル用の数値です。本番環境では適時変更して下さい */ }
