@charset "utf-8";
/* ===================================================
	Base CSS
====================================================== */
body {
	color: #000; font-size: 14px; font-weight: normal; line-height: 1.5; background: #fff;
	font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro W3","Hiragino Kaku GothicPro","Osaka","Verdana","Helvetica","Arial","ＭＳ Ｐゴシック", sans-serif;
	-webkit-text-size-adjust: 100%;
}

input, select, textarea { font-size: 13px;}

a       { color: #555; text-decoration: none;}
a:hover { color: #555; text-decoration: underline;}
a:hover img{ opacity: 0.75; filter: alpha(opacity=75); -moz-opacity: 0.75;}

.fixed { top:0; left: 0; position: fixed; width: 100%; z-index: 999;}
#lineup-font-size-sampler { bottom: 0; left: 0;}
iframe[name="google_conversion_frame"] { position: absolute; bottom: 0; left: 0;}


/* ---------------------------------------------------
	Base Layout
------------------------------------------------------ */
#header_wrap,
#nav_wrap,
#contents_wrap,
#footer_wrap{ margin: 0; padding: 0; width: 100%;}


/* ---------------------------------------------------
	Header
------------------------------------------------------ */
#header_wrap  { }
#header       { margin: 0 auto; padding: 15px 0 5px; width: 1100px;}

#header h1{ font-size: 12px;}
#header #logo{ width: 500px; float: left;}

#head_nav   { width: 500px; float: right;}
#head_nav li{ width: 50%; padding: 0 0 0 1%; float: left; box-sizing: border-box;}

#head_nav .tel-link,
#head_nav .btn{ display: block; height: 40px; padding: 5px; text-align: center;}

#head_nav .btn{ background: #000;}
#head_nav .btn:hover{ background: #555;}


/* ---------------------------------------------------
	G-nav
------------------------------------------------------ */
#open_menu,
#close_menu { display: none;}

#gnav{ clear: both; background: #000;}
#gnav ul{ margin: 0 auto; width: 1100px;}
#gnav li{
	width: 20%; height: 50px; float: left;
	border-right: 1px solid #555; box-sizing: border-box;
}
#gnav li:last-child{ border-right:0;}
#gnav a { display:block; height: 50px; line-height: 50px; text-indent: -9999px;}

#gn_home{ display: none;}
#gn_01 a{ background:url(../img/gn_01.png) no-repeat center center;}
#gn_02 a{ background:url(../img/gn_02.png) no-repeat center center;}
#gn_03 a{ background:url(../img/gn_03.png) no-repeat center center;}
#gn_04 a{ background:url(../img/gn_04.png) no-repeat center center;}
#gn_05 a{ background:url(../img/gn_05.png) no-repeat center center;}

#gnav a:hover{ background-color: rgba( 255,255,255,0.25);}


/* ---------------------------------------------------
	Contents
------------------------------------------------------ */
#contents_wrap { padding: 0 0 55px;}
#contents      { clear: both; margin: 0 auto; width: 1100px;}

/* page title */
#contents_wrap h2 { padding: 50px 0; font-size: 24px; text-align: center;}

/* breadcrumb */
#breadcrumb{ margin: 10px auto 25px; width: 100%; text-align: right;}
#breadcrumb a{ margin: 0 5px 0 0;}


/* ---------------------------------------------------
	Footer
------------------------------------------------------ */
#page_top   { display:block; position: fixed; bottom: 10px; right: 10px; z-index: 9999; cursor: pointer;}
#page_top a { display: block; width: 48px; height: 48px;}

#footer_wrap  { background: #000;}
#footer       { margin: 0 auto; padding: 25px 0; width: 1100px; color: #f3f3f3;}

#f_logo{ width: 300px; float: left; font-style: normal; line-height: 1.6;}
#f_logo img{ display: block; margin: 0 0 10px;}
#f_logo address span{ display: block;}

#fnav{ padding: 15px 0 0; width: 620px; float: right; text-align: right;}
#fnav .acc_tit{ display: none;}
#fnav li{
	display: inline-block; margin: 0 15px 10px 0; padding: 0 0 0 12px; line-height: 1.6;
	background: url(../img/icon_arrow_g.gif) no-repeat  left center;
}

#copyright{ clear: both; padding: 15px 0 0; text-align: center; line-height: 1.6;}
#footer a:link, #footer a:visited { color: #ccc; text-decoration: none;}
#footer a:hover, #footer a:active { color: #f3f3f3; text-decoration: underline;}


/* ---------------------------------------------------
	clear
------------------------------------------------------ */

#header_wrap:after,
#header:after,
#nav_wrap:after,
#gnav:after,
#contents_wrap:after,
#contents:after,
#contents section:after,
#breadcrumbs:after,
#footer_wrap:after,
#footer:after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; font-size: 0;}
