@charset "utf-8";
/* ===================================================
	Inquiry CSS
====================================================== */
/* ---------------------------------------------------
layout ※余白やらアイコンやらは施設に合わせて変えてください
------------------------------------------------------ */
#inquiry #form_area{ margin: 5px auto 15px; max-width: 90%;}
#inquiry #form_area h3{ margin: 0 auto 15px; font-size: 16px; text-align: center;}
#inquiry #form_area p{ margin: 0 auto 15px; width: 80%; line-height: 1.6; text-align: center;}


#inquiry #form_area dl{
	display: table; width: 100%; padding: 0 10px 5px; table-layout: fixed;
	border-bottom: 1px dashed #ddd;box-sizing: border-box;
}
/*#inquiry #form_area dl:after {
	content: "."; display: block; clear: both;
	height: 0; font-size: 0; visibility: hidden;
}*/

#inquiry #form_area dt,
#inquiry #form_area dd { display: table-cell; margin: 0; padding: 5px 10px; box-sizing: border-box;}

#inquiry #form_area dt{ width: 30%; text-align: left;}
#inquiry #form_area dd{ width: 69%;}



/* ---------------------------------------------------
フォーム内レイアウト　※デザイン的なCSSは上に書いて下さい。
------------------------------------------------------ */
#inquiry #form_area ul,
#inquiry #form_area ol { margin: 0 1%; padding: 0 0 5px; max-width: 98%;}
#inquiry #form_area ul li,
#inquiry #form_area ol li{ margin: 0; padding: 0; list-style: none; display: inline; line-height: 1.8;}

#inquiry #form_area label{ margin: 7px 0 0; display: inline-block;}
#inquiry #form_area input{ margin: 0 5px 0 0; padding: 0;}

#inquiry #form_area input[type="text"],
#inquiry #form_area input[type="email"]{
	margin: 5px auto 0; padding: 5px 3px; max-width: 100%;
	border: 1px solid #ddd; box-sizing:border-box;
}

#inquiry #form_area select  { margin: 5px 0 0; padding: 2px 1px; border: 1px solid #ddd;}
#inquiry #form_area textarea{ margin: 5px 0 0; padding: 2px 3px; width: 100%; border: 1px solid #ddd; box-sizing: border-box;}

#inquiry #form_area .must              { margin: 0 5px; color: #fb223f;}
#inquiry #form_area .mfp_buttons       { margin: 15px 2% 20px; width: 96%; text-align: right;}
#inquiry #form_area .mfp_buttons button{ width: 31%; padding: 2px 0; letter-spacing: 3px; line-height: 25px; text-align: center;}


/* mailform PRO のCSS上書き */
#inquiry #form_area dt,
#inquiry #form_area dd{ font-size: 14px; border: none;}
#inquiry #form_area .must{
	display: inline-block; padding: 0; float: none;
	font-size: 16px; text-shadow: none; border: none;
	background: none; border-radius: 0; box-shadow: none;
}
