@charset "utf-8";
/* ===================================================

	Responsive Inquiry CSS

====================================================== */
@media screen and (max-width: 1100px) {
}
@media screen and (max-width: 768px) {
	#inquiry #form_area{ max-width: 98%;}
	#inquiry #form_area dl{ margin: 0 0 20px;}
	#inquiry #form_area dt,
	#inquiry #form_area dd{ width: 100%; float: none;}
	#inquiry #form_area dt{ background: #f5f5f5;}
	#inquiry #form_area .mfp_buttons{ text-align: center;}
}
@media screen and (max-width: 640px) {
}
