@charset "utf-8";
/* ===================================================
Base CSS / ヘッダー・Gナビ・フッター用CSS
====================================================== */
#lineup-font-size-sampler{ bottom: 0; left: 0;}
.fixed{ top:0; left: 0; position: fixed; width: 100%; z-index: 999;}
iframe[name="google_conversion_frame"]{ position: absolute; bottom: 0; left: 0;}


body{ min-width: 1100px;}

@media screen and (max-width: 1100px) {
	body{ min-width: 0;}
}
@media screen and (orientation:landscape) {
	html,body{ width: 100%;}
}


/* ---------------------------------------------------
	Base Layout
------------------------------------------------------ */
#header_wrap,
#nav_wrap,
#contents_wrap,
#footer_wrap{ margin: 0; padding: 0; width: 100%;}


/* ---------------------------------------------------
	Header
------------------------------------------------------ */
#header_wrap{ background: #000;}
#header     { margin: 0 auto; padding: 15px 0; width: 1100px;}

#header h1 {
	padding: 10px; color: #fff; font-size: 11px; font-weight: normal;
	line-height: 1.4; text-align: left;
}
#head_logo{ width: 250px; float: left;}

#header #head_nav{ width: auto; padding: 10px 0 0; text-align: right;}
#header #head_nav li{ display: inline-block; margin: 0 0 0 10px;}
#header #head_nav li a{ display: block; background: #000;}
#header #head_nav li a:hover{ opacity: 0.75; filter: alpha(opacity=75); -moz-opacity: 0.75;}


@media screen and (max-width: 1100px) {
	#header{ padding: 15px 1%; width: 98%;}
}
@media screen and (max-width: 768px) {
	#header h1{ text-align: center;}
	#header #head_logo{ width: 100%; float: none; text-align: center;}
	#header #head_nav{ text-align: center;}
	#header #head_nav li{ width: 48%; float: left; margin: 0; padding: 0 1%;}
}
@media screen and (max-width: 600px) {
}


/* ---------------------------------------------------
	G-nav
------------------------------------------------------ */
#nav_wrap{ background: #ccc;}
#gnav{ margin: 0 auto; width: 1100px;}
#gnav li{ width: 20%; float: left;}
#gnav li#gn_01{ display: none;}
#gnav a{ display:block; text-align: center;}
#gnav a:hover{ background: #555;}


@media screen and (max-width: 1100px) {
	#gnav { width: 100%;}
}
@media screen and (max-width: 768px) {
	#gnav li{ width: 33.3%; float: left;}
	#gnav li#gn_home{ display: block;}
}
@media screen and (max-width: 600px) {
	#gnav li{ width: 50%; float: left;}
}


/* ---------------------------------------------------
	Footer
------------------------------------------------------ */
#backtop  { display: block; padding: 5px 0; background: #787878;}
#backtop a{ display: block; margin: 0 auto; padding: 0; width: 1100px; font-size: 13px; line-height: 1.4; color: #fff; text-align: right;}

#footer_wrap { background: #000;}
#footer      { margin: 0 auto; padding: 25px 0; width: 1100px; color: #f3f3f3; font-size: 12px;}

#footer address{ width: 300px; float: left; font-style: normal; line-height: 1.6;}
#footer address img{ display: block; margin: 0 0 10px;}
#footer address span{ display: block;}

#fnav{ padding: 15px 0 0; text-align: right;}

#fnav li{
	display: inline-block; margin: 0 10px 10px 0; padding: 0 0 0 10px; line-height: 1.6;
	vertical-align: middle; position: relative;
}
#fnav li:before{
	content: ""; top: 6px; left: 0; position: absolute;
	width: 4px; height: 4px; vertical-align: middle;
	border: 4px solid transparent; border-left: 4px solid #fff; box-sizing: border-box;
}

#copyright{ clear: both; padding: 25px 0; text-align: center; line-height: 1.6;}

#footer a:link, #footer a:visited { color: #ccc; text-decoration: none;}
#footer a:hover, #footer a:active { color: #f3f3f3; text-decoration: underline;}


@media screen and (max-width: 1100px) {
	#backtop a{ padding: 0 1%; width: 98%;}
	#footer   { padding: 25px 1%; width: 98%;}
}
@media screen and (max-width: 768px) {
	#footer address{ margin: 0 0 10px; width: 100%; float: none; text-align: center;}
	#footer address img{ display: inline-block; margin: 0 20px 0 0;}
	#footer address span,
	#footer address .tel-link{ display: inline-block; margin: 0 10px 0 0; line-height: 30px; vertical-align: top;}
	#fnav{ clear: both; text-align: center;}
}
@media screen and (max-width: 600px) {
	#footer address img{ display: block; margin: 0 auto 10px;}
	#footer address span,
	#footer address .tel-link{ line-height: 1.6;}
}


/* ---------------------------------------------------
	clear
------------------------------------------------------ */
#header_wrap:after,
#header:after,
#head_nav:after,
#nav_wrap:after,
#footer_wrap:after,
#footer:after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; font-size: 0;}
