@charset "utf-8";
/* ------------------------------------------------------
	Google　Map
------------------------------------------------------ */

/* width, height 指定必須 */
.map_block{ margin: 0 auto 15px; width: 100%; max-width: 100%; height: 450px;}

/* 以下はサンプル用スタイルです。 */
.attention { margin: 0 0 20px;}
.attention p { margin: 0 0 10px; color: #f00;}
.attention ul { margin: 0 0 0 2.5em; padding: 0;}
.attention li { list-style-type: disc;}
.map_area { margin: 0 auto 25px; width: 100%; max-width: 100%;}
.map_block .gmnoprint{ display: block; width: auto !important;}
.map_area ul{ margin: 15px 0 35px; line-height: 1.6; text-align: center;}
.map_area li{ display: inline-block; margin: 0 0 10px;}
.map_area li a{ display: block; margin: 0; padding: 5px 15px; color: #fff; text-align: center; text-decoration: none; background: #787878;}
.map_area li a:hover { background: #282828; color: #fff;}

@media screen and (max-width: 640px) {
	.map_area { width: 90%; max-width: 90%;}
	.map_block{ height: 320px;}
}


