@charset "utf-8";
/* ===================================================
	Other CSS
	プライバシーポリシーやキャンセルポリシーなど共通部分が多いページや、
	スタイルが極端に少なくなるページは	このCSSにまとめて記述する。
====================================================== */

/* ---------------------------------------------------
複数ページ共通　適宜調整すること
------------------------------------------------------ */
#contents_wrap section { width: 900px; max-width: 100%; margin: 0 auto 50px;}

#contents_wrap h3 { margin: 0 0 10px; font-size: 20px; text-align: center;}
#contents_wrap h4 { margin: 10px 0; font-size: 16px;}
#contents_wrap h5 { margin: 0 0 5px;}
#contents_wrap p { margin: 0 0 15px;}

#contents_wrap li:before { content:'○'; padding: 0 0 5px;}

#contents_wrap dt { padding: 5px 0;}
#contents_wrap dd { padding: 0 10px;}

@media screen and (max-width: 768px) {
	#contents_wrap div { margin-bottom: 0;}
}
@media screen and (max-width: 600px) {
}


/* ---------------------------------------------------
Inquiry
上記共通用スタイルと併用しない場合は inquiry.css として
ファイルを分けて記述してください。
------------------------------------------------------ */
/* ▼ mailform PRO のCSS上書き ▼ */
#inquiry #form_area dt,
#inquiry #form_area dd { font-size: 14px; border: none;}
#inquiry #form_area label { white-space: normal;}
#inquiry #form_area .must {
	display: inline-block; padding: 0; float: none;
	font-size: 16px; text-shadow: none; border: none;
	background: none; border-radius: 0; box-shadow: none;
}
#inquiry #form_area .mfp_colored { background-color: none !important;}
#inquiry #form_area .mfp_not_checked,
#inquiry #form_area .mfp_checked,
#inquiry #form_area .mfp_colored {
	margin: 7px 10px 0 0 !important; padding: 0;
	background: none !important; box-shadow: none; border: none;
}
/* ▲ mailform PRO のCSS上書き ▲ */

#inquiry #form_area h3 { text-align: center;}
#inquiry #form_area p { width: 100%; text-align: center;}
#inquiry #form_area p.attention { color: #f00;}
#inquiry #form_area form { margin: 0 auto; width: 100%;}

#inquiry #form_area dl {
	display: table; table-layout: fixed; width: 100%; padding: 10px 0; border-bottom: 1px dashed #ddd;
	-webkit-box-sizing: border-box; box-sizing: border-box;
}
#inquiry #form_area dt,
#inquiry #form_area dd {
	display: table-cell; padding: 0 5px; margin: 0; vertical-align: middle;
	-webkit-box-sizing: border-box; box-sizing: border-box;
}

#inquiry #form_area dt { width: 28%; float: none !important; text-align: right;}
#inquiry #form_area dd { width: 72%; padding-left: 20px; box-sizing: border-box;}

@media screen and (max-width: 768px) {
	#inquiry #form_area dl,
	#inquiry #form_area dt,
	#inquiry #form_area dd { display: block; width: 100%;}
	#inquiry #form_area dl { padding: 10px 0;}
	#inquiry #form_area dt { padding: 5px; margin: 0 0 10px; background: #f5f5f5; text-align: left;}
	#inquiry #form_area dd { padding-left: 5px;}
}

/* フォーム内レイアウト
------------------------------------------------------ */
#inquiry #form_area ul,
#inquiry #form_area ol { padding: 0 0 5px; margin: 0 1%; max-width: 98%;}
#inquiry #form_area li { display: inline-block; margin: 0 10px 0 0;}
#inquiry #form_area li:before { display: none;}

#inquiry #form_area input:not(:last-child),
#inquiry #form_area select:not(:last-child),
#inquiry #form_area textarea:not(:last-child) { margin: 0 0 5px;}

#inquiry #form_area input { max-width: 100%; padding: 5px 3px; border: 1px solid #ddd; -webkit-box-sizing: border-box; box-sizing: border-box;}

#inquiry #form_area select { padding: 2px 1px; border: 1px solid #ddd;}
#inquiry #form_area textarea {
	padding: 5px 3px; width: 100%; max-width: 100%; height: 150px; border: 1px solid #ddd;
	-webkit-box-sizing: border-box; box-sizing: border-box;
}

#inquiry #form_area .must { margin: 0 5px; color: #fb223f;}
#inquiry #form_area .mfp_buttons { margin: 15px auto 20px; width: 96%;}
#inquiry #form_area .mfp_buttons button { width: 31%; padding: 6px 0; letter-spacing: 3px; text-align: center;}


/* ---------------------------------------------------
privacy
------------------------------------------------------ */
#privacy #contents_wrap div { margin: 20px 0 10px; overflow: auto;}
#privacy #contents_wrap table { width: 800px; text-align: center; table-layout: fixed;}
#privacy #contents_wrap table caption { text-align: left;}
#privacy #contents_wrap th,
#privacy #contents_wrap td { border: 1px solid #ccc;}
#privacy #contents_wrap th { background: #eee; font-weight: normal;}
#privacy #contents_wrap p.ver_sp { display: none; padding: 5px 0 10px; font-size: 12px;}

@media screen and (max-width: 768px) {
	#privacy #contents_wrap p.ver_sp { display: block;}
}


/* ---------------------------------------------------
404
------------------------------------------------------ */
#error section { text-align: center;}

@media screen and (max-width: 768px) {
}
@media screen and (max-width: 600px) {
}