@charset "utf-8";
/* ===================================================
re blog CSS
====================================================== */
/* ---------------------------------------------------
	Contents / Layout & Post
------------------------------------------------------ */
@media screen and (max-width: 1000px) {
	#contents,
	#breadcrumb{ padding: 0 1%; width: 98%;}
	#main_area { width: 73%;}
	#side_area { width: 23%;}
}
@media screen and (max-width: 768px) {
	#main_area,
	#side_area{ clear: both; margin: 0 auto 25px; width: 98%; max-width: 98%; float: none;}
}

/* ---------------------------------------------------
	Side Area
------------------------------------------------------ */
@media screen and (max-width: 640px) {
	.side_block #searchform input { height: 25px; line-height: 25px; letter-spacing: 1px;}
	.side_block #searchform input[type="text"]  { margin: 0 1% 10px; padding: 0 1%; width: 96%; max-width: 96%; border: 1px solid #ddd;}
	.side_block #searchform input[type="submit"]{ margin: 0 1% 15px; padding: 0; width: 98%; max-width: 98%;}
}
